<h1 id="tableLabel">Courses</h1>

<p *ngIf="!courses"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="courses">
  <thead>
    <tr>
      <th class="w-75">Title</th>
      <th class="w-25">Topic</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td><a [routerLink]="['/courses', course.id]">{{ course.title }}</a>
        <div *ngIf="courses.length === 1">
          {{ course.description }}
          <td>
              <a class="nav-link text-dark" [routerLink]="['/courses']">Back to the list of course</a>
          </td>
        </div>
      </td>
      <td>
        <div class="btn btn-link" (click)="filter(course.topicId)"> {{ course.topicName }} </div>
      </td>
    </tr>
    <tr *ngIf="isFilterApplied">
      <td></td>
      <td><div class="text-muted" (click)="clearFilter()">Clear filter</div></td>
    </tr>
  </tbody>
</table>
