@model CourseFilterModel

@{
    ViewData["Title"] = "Filter Courses";

}

<h1 class="text text-center alert-info"> <i>Расширенный поиск по курсам</i></h1>

@using (Html.BeginForm("Filter", "Courses", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="TitleContains">Название содержит</label>
        <input class="form-control" type="text" asp-for="TitleContains" />
    </div>
    <div class="form-group">
        <label asp-for="DescriptionContains">Описание содержит</label>
        <input class="form-control" asp-for="DescriptionContains" />
    </div>
    <div class="form-group">
        <label asp-for="ProgramContains">Программа содержит</label>
        <input class="form-control" asp-for="ProgramContains" />
    </div>
    <div class="form-group">
        <label asp-for="TopicNameContains">Тема содержит</label>
        <input class="form-control" asp-for="TopicNameContains" />
    </div>

    <div class="form-group">
        <label asp-for="PriceFrom"></label>
        <input class="form-control" asp-for="PriceFrom" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="PriceTo"></label>
        <input class="form-control" asp-for="PriceTo" type="number" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Apply</button>
    </div>
}