@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1 class="text text-center alert-info"> <i>Список доступных ролей</i></h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Имя роли</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                @if (role.Name == "admin")
                {
                    <td></td>
                }
                else
                {
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete roles
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>